body {
    margin: 0;
    padding: 15px 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .set {
    
    margin: 0 15px 30px;
    padding: 20px;
    border-radius: 6px;
  }
  
  .set h2 {
    margin: 0;
    padding: 10px;
    background-color: #555;
    color: white;
    border: 1px solid #000;
  }
  
  ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
  }
  
  li {
    width: 80px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    background-color: #EEE;
    border: 1px solid #000;
    text-align: center;
  }
  
  #MyTitle {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    background-color: #046513;
    color: white;
    padding: 10px;
    border: 1px solid #000;
  }
  
  #MyFoot {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    background-color: #054522;
    color: white;
    padding: 10px;
    border: 1px solid #000;
  }

  #Adiv{
    background-color:rgb(234, 255, 0);
  }
  #Bdiv{
    background-color:rgb(245, 0, 196);

  }
  #Cdiv{
    background-color:rgb(34, 0, 255);
  }
  
  #Ddiv{
    background-color:rgb(187, 0, 255);
  }
  
  /* Change background color on hover */
  li:hover {
    background-color: #676767;
  }
  /* Mobile devices */
  @media only screen and (max-width: 420px) {
    body{
      flex-direction: column;
    }
  }
  /* reduced window size devices */
  @media only screen and (min-width: 421px) and (max-width: 799px) {
    .set{
      width: calc(50% - 70px);
    }
    #Cdiv{
      order: 3;    
    }
    
    #Ddiv{
      order: 4; 
    }
    #MyFoot {
      order: 5;
    }
  }
  /* desktop */
  @media only screen and (min-width: 800px) {
    .set{
      width: calc(25% - 70px);
    }
    #MyTitle{
      order: 0;
    }
    #Adiv{
      order: 1;


    }
    #Bdiv{
      order: 4;

    }
    #Cdiv{
      order: 2;    
    }
    
    #Ddiv{
      order: 3;    
    }
    #MyFoot {
      order: 5;
    }
    
  }
